doc/dtd/conax/network-information.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Tor Helge Kristiansen (Conax AS / Development Dpt.) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT network-information (network*)>
<!ELEMENT network (local-time*, transport-stream*, linkage*)>
<!ATTLIST network
	network-id CDATA #REQUIRED
	operator CDATA #REQUIRED
	description CDATA #REQUIRED
	type CDATA #IMPLIED
	character-set CDATA "utf-8"
>

<!ELEMENT local-time EMPTY>
<!ATTLIST local-time
	country-code CDATA #REQUIRED
	country-region-id CDATA #REQUIRED 
	local-time-offset-polarity (POSITIVE | NEGATIVE) "POSITIVE"
	local-time-offset CDATA #REQUIRED
	time-of-change CDATA #REQUIRED
	next-time-offset CDATA #REQUIRED
>

<!ELEMENT linkage EMPTY>
<!ATTLIST linkage
	original-network-id CDATA #REQUIRED
	transport-stream-id CDATA #REQUIRED 
	service-id CDATA #REQUIRED
	linkage-type CDATA #REQUIRED
	private-data CDATA #REQUIRED
>


<!ELEMENT transport-stream (delivery-system?, service*)>
<!ATTLIST transport-stream
	transport-stream-id CDATA #REQUIRED
	original-network-id CDATA #IMPLIED
	description CDATA #IMPLIED
	mux-main-protocol (ASI | SIMULCRYPT_TCP | PHILIPS_TOKENMUX) "SIMULCRYPT_TCP"
	mux-bu-protocol (ASI | SIMULCRYPT_TCP | PHILIPS_TOKENMUX) #IMPLIED 
	eit-max-bw CDATA #REQUIRED
	si-max-bw CDATA #IMPLIED
>
<!ELEMENT delivery-system EMPTY>
<!ATTLIST delivery-system
	type CDATA #REQUIRED
	frequency CDATA #REQUIRED
	bw-id CDATA #IMPLIED
	west-east-flag CDATA #IMPLIED
	orbital-position CDATA #IMPLIED
	polarization-id CDATA #IMPLIED
	transmission-mode-id CDATA #IMPLIED
	other-frequency-flag CDATA #IMPLIED
	hierarchy-information-id CDATA #IMPLIED
	modulation-scheme-id CDATA #IMPLIED
	guard-interval-id CDATA #IMPLIED
	fec-outer-scheme-id CDATA #IMPLIED
	fec-inner-scheme-id CDATA #IMPLIED
	constellation-id CDATA #IMPLIED
	symbol-rate CDATA #IMPLIED
	code-rate-hp-id CDATA #IMPLIED
	code-rate-lp-id CDATA #IMPLIED
>


<!ELEMENT service EMPTY>
<!ATTLIST service
	service-id CDATA #REQUIRED
	logical-channel-number CDATA #IMPLIED
	service-name CDATA #REQUIRED
	description CDATA #IMPLIED
	nvod (true | false) #REQUIRED
	service-type-id CDATA #IMPLIED
>
